

.product-item-custom {
    padding: 1%;
    margin-bottom: 20px;
    height: 245px;
    justify-content: unset;
    border: 1px solid lightgrey;
    border-radius: 5px;
transition: .4s;
}
.product-item-custom:hover{
   box-shadow:0px 0px 10px 1px  #9c9c9c;
}
.product-content-custom {
    height: 45%;
}

.product-item-custom:not(:nth-child(4n)) {
    margin-right: 5%;
}

.product-price-custom {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    display: inline;
    white-space: nowrap;
}

.price-number {
    display: inline;
}

@media only screen and (max-width: 640px) {
    .product-item-custom {
        width: 44%;
    }
}
